<% if user.errors.any? %>
  <%= user.errors.count %> 
  <% if user.errors.count == 1 %>
    error prohibited this obj from being saved:
  <% else %>
    errors prohibited this obj from being saved:
  <% end %>
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>